body{
    justify-items: center;
}
.fa-github{
    font-size: 3em;
}
#first{
    border: 1px solid ;
    background-color: #26354227;
    padding: 25px;
    border-radius: 10px;
}
#first span{
    float: right;
    font-size: 0.8em;
    color: blue;
}
input{
    width: 240px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: black;
}

.Signin{
    width: 250px;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    color: white;
}
.Signin:hover{
    background-color: aquamarine;
}

#second{
    margin-top: 20px;
    border: 1px solid;
    padding: 5px 40px;
    border-radius: 10px;
}
#second p{
    text-align: center;
    color: blue;
}
#second p span{
    color: black;
}
#footer{
    width: 50%;
    margin-top: 40px;
}
#footer li{
    list-style: none;
    float: left;
    margin: 5px;
    font-size: 0.9em;
    color: black;
}


                 